<footer>
    <div class="top-footer">
        <div class="container">
            <div class="top-footer-ctn d-flex justify-content-between">
                <div class="ctn-left d-flex">
                    <p><i class="far fa-paper-plane"></i></p>
                    <label class="d-block">Join Our Newsletter Now
                        <span class="d-block">Register now to get updates on promotions. </span>
                    </label>
                </div>
                <div class="ctn-right">
                    <div class="search-input">
                        <form class="form-inline">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" placeholder="Search Products...">
                                <button type="submit" class="btn mb-2 submit">Your email address</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="main-footer-ctn d-flex justify-content-between">
                <div class="contactUs">
                    <h3 class="widget-title">CONTACT US</h3>
                    <p><i class="fas fa-envelope-open-text"></i> <span>demo@demo.com</span></p>
                    <p><i class="fas fa-map-marker-alt"></i> <span>Webibazzar, A - 2 Puffin Street Puffinville,
                            varachha, Surat</span></p>
                    <p><i class="fas fa-phone-volume"></i> <span>123456789</span></p>
                </div>
                <div class="info">
                    <h3 class="widget-title">INFORMATION</h3>
                    <a [routerLink]="about">About Us</a>
                    <a [routerLink]="about">Delivery Information</a>
                    <a [routerLink]="about">Privacy Policy</a>
                    <a [routerLink]="about">Contact Us</a>
                    <a [routerLink]="about">Special</a>
                    <a [routerLink]="about">Elements</a>
                </div>
                <div class="myAccount">
                    <h3 class="widget-title">MY ACCOUNT</h3>
                    <a [routerLink]="about">Orders</a>
                    <a [routerLink]="about">My Account</a>
                    <a [routerLink]="about">Newsletter</a>
                    <a [routerLink]="about">Checkout</a>
                    <a [routerLink]="about">Downloads</a>
                    <a [routerLink]="about">Account details</a>
                </div>
                <div class="category">
                    <h3 class="widget-title">CATEGORY</h3>
                    <a [routerLink]="about">name</a>
                    <a [routerLink]="about">name</a>
                    <a [routerLink]="about">name</a>
                    <a [routerLink]="about">name</a>
                    <a [routerLink]="about">name</a>
                    <a [routerLink]="about">name</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="bottom-footer-ctn">
                <p>
                    Designed by
                    <a [routerLink]="about">Andrii Nyvchyk</a>
                    All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>